.body {
    background-color: #630000;
}

.column {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.icon {
    font-size: 180px;
}

.principal {
    margin: 3rem 0;
    text-align: center;
    color: #f8f5f1;
}

.principal-title {
    margin-top: 2rem;
    font-size: 45px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

.nearpod-logo {
    height: 25px; 
    width: 25px;
}

.meet-logo {
    height: 25px; 
    width: 25px;
}