.body {
    background-color: #630000;
}

.column {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner{
    margin: 1rem;
    height: 8.5rem;
    border: solid 3px #23689b;
    border-radius: 10px;
}

.nearpod-logo {
    height: 25px; 
    width: 25px;
}

.meet-logo {
    height: 25px; 
    width: 25px;
}