.sticky-properties {
    background-color: #630000;
    padding-top: 6px;
}

.menu {
    background-color: #630000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigation:hover {
    background-color: #0061a8;
    border-radius: 10px;
}

.menu-icon {
    margin: 0 12px;
    color: #fff;
    font-size: 18px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}