.menu {
    background-color: #630000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav:hover {
    background-color: #fff;
}

.menu-icon {
    margin: 0 10px;
    color: #fff;
    font-size: 18px;
}