.notices {
    margin: 50vh 0vh;
    border: solid 10px #6e7c7c;
    border-radius: 20px;
}

.title-box-notices {
    margin: 1rem 0;
    color: #630000;
    font-size: 40px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.title-notices {
    margin: 0;
    text-align: center;
    font-size: 25px;
}

.date {
    margin: 0;
    font-size: 13px;
    font-family: 'Roboto Mono', monospace;
}

.text-notice {
    margin: 0;
    text-align: justify;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}