.notices {
    margin: 50vh 0vh;
    border: solid 10px #6e7c7c;
    border-radius: 20px;
}

.title-notices {
    margin: 1rem 0;
    font-size: 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}