.profile-section {
    padding: 20vh 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile {
    background-color: #c64756;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 5px 5px 8px;
}

.sub-profile {
    margin: 1rem;
    display: flex;
    flex-wrap: wrap;
}

.picture-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.picture {
    border-radius: 50%;
    height: 218px;
    width: 218px;
}

.title-profile-box {
    margin: 0;
    display: flex;
    justify-content: center;
}

.yout-box {
    margin-right: 8px;
    height: 35px;
    width: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 8px;
}

.yout-icon {
    font-size: 23px;
    color: #ce12125b;
}

.yout-icon:hover {
    color: #ce1212;
}

.profile-title {
    margin: 0;
    color: #fff;
    font-size: 30px;
    font-family: 'Averia Serif Libre', cursive;
}

.languaje-buttons {
    display: flex;
    justify-content: center;
}

.profile-text {
    margin: 10px 8px;
}

.paragraph {
    margin-bottom: 5px;
    text-align: justify;
    font-family: 'Kiwi Maru', serif;
    font-size: 17px;
    color: #fff;
}

.contact {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    color: #fff;
    font-family: 'Roboto Mono', monospace;
    font-weight: bold;
}

.icons {
    height: 30px;
    width: 30px;
    margin: 0px 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff ;
    border: solid 2px;
    border-radius: 50%;
}

.correo {
    margin-top: 5px;
    margin-bottom: 5px;
    display: inline-flex;
    align-items: center;
}

.whatsapp {
    margin-top: 5px;
    margin-bottom: 5px;
    display: inline-flex;
    align-items: center;
}